# Master NBA data pipeline

In [2]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

#engine = create_engine('postgresql+psycopg2://postgres:########@#########:#####/nba')

import pandas as pd
import numpy as np

import requests
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.static import teams

Start by obtaining NBA team ids **(using nba_api)**, which will then be used to get all games played by each team in history.

## Teams

In [5]:
# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print('Number of teams fetched: {}'.format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Atlanta',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [6]:
nba_teams = pd.DataFrame(nba_teams)
nba_teams

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

Or, read the data from sql database already created.

In [8]:
nba_teams = pd.read_sql_table(table_name = 'teams', schema='games_teams', con=engine)
nba_teams

,index,id,full_name,abbreviation,nickname,city,state,year_founded
0,0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [9]:
teams = list(nba_teams['id'])
teams

[1610612737,
 1610612738,
 1610612739,
 1610612740,
 1610612741,
 1610612742,
 1610612743,
 1610612744,
 1610612745,
 1610612746,
 1610612747,
 1610612748,
 1610612749,
 1610612750,
 1610612751,
 1610612752,
 1610612753,
 1610612754,
 1610612755,
 1610612756,
 1610612757,
 1610612758,
 1610612759,
 1610612760,
 1610612761,
 1610612762,
 1610612763,
 1610612764,
 1610612765,
 1610612766]

## Games

Using team ids, pull every game played by the team from nba.com **(using nba_api)**

In [10]:
import time
games = pd.DataFrame()

for i in teams:
    data = leaguegamefinder.LeagueGameFinder(team_id_nullable=i).get_data_frames()[0]
    games = games.append(data)
    time.sleep(1)
    
games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612737,ATL,Atlanta Hawks,0022000805,2021-04-11,ATL @ CHA,W,240,105,...,0.750,7.0,34.0,41.0,27,7.0,1,11,11,4.0
1,22020,1610612737,ATL,Atlanta Hawks,0022000791,2021-04-09,ATL vs. CHI,W,239,120,...,0.826,6.0,35.0,41.0,25,7.0,4,9,14,12.0
2,22020,1610612737,ATL,Atlanta Hawks,0022000780,2021-04-07,ATL vs. MEM,L,240,113,...,0.867,11.0,31.0,42.0,26,5.0,3,7,19,-18.0
3,22020,1610612737,ATL,Atlanta Hawks,0022000770,2021-04-06,ATL vs. NOP,W,241,123,...,0.682,10.0,32.0,42.0,24,7.0,6,11,23,16.0
4,22020,1610612737,ATL,Atlanta Hawks,0022000759,2021-04-04,ATL vs. GSW,W,240,117,...,0.778,10.0,39.0,49.0,19,10.0,3,15,19,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2669,21988,1610612766,CHH,Charlotte Hornets,0028800062,1988-11-12,CHH @ ATL,L,238,111,...,0.813,14.0,21.0,35.0,30,12.0,2,19,26,NaN
2670,21988,1610612766,CHH,Charlotte Hornets,0028800052,1988-11-11,CHH @ WAS,L,240,87,...,0.760,11.0,32.0,43.0,22,9.0,1,23,26,NaN
2671,21988,1610612766,CHH,Charlotte Hornets,0028800024,1988-11-08,CHH vs. LAC,W,240,117,...,0.738,17.0,38.0,55.0,28,9.0,1,17,31,NaN
2672,21988,1610612766,CHH,Charlotte Hornets,0028800015,1988-11-05,CHH @ DET,L,240,85,...,1.000,21.0,19.0,40.0,18,8.0,6,11,21,NaN
2673,21988,1610612766,CHH,Charlotte Hornets,0028800008,1988-11-04,CHH vs. CLE,L,240,93,...,0.650,7.0,24.0,31.0,27,8.0,1,24,25,NaN

In [11]:
# list of unique seasons to 2021
games['SEASON_ID'].unique().astype(int)

array([22020, 12020, 22019, 12019, 22018, 12018, 22017, 12017, 42016,
       22016, 12016, 42015, 22015, 12015, 42014, 22014, 12014, 42013,
       22013, 12013, 42012, 22012, 12012, 42011, 22011, 12011, 42010,
       22010, 12010, 42009, 22009, 12009, 42008, 22008, 12008, 42007,
       22007, 12007, 22006, 12006, 22005, 12005, 22004, 12004, 22003,
       12003, 22002, 22001, 22000, 21999, 41998, 21998, 41997, 21997,
       41996, 21996, 41995, 21995, 41994, 21994, 41993, 21993, 41992,
       21992, 21991, 41990, 21990, 21989, 41988, 21988, 41987, 21987,
       41986, 21986, 41985, 21985, 21984, 41983, 21983, 42019, 42018,
       42017, 42004, 42003, 42002, 42001, 41991, 41989, 41984, 42006,
       42005, 42000, 41999, 52019])

Hand-coded dictionary of the seasons and their nba.com codes. Will need to be updated as time progresses.

In [12]:
# for 1983 + (where most stats reside, fewer stats pre-1983 available)
# 4---- are postseason
# 2---- are regular season
# 520-- has just two random games
# 12--- are preseason (?)
season_dict = {'22020':'2020-21', '22019':'2019-20', '22018':'2018-19', '22017':'2017-18', '22016':'2016-17', '22015':'2015-16', \
               '22014':'2014-15', '22013':'2013-14', '22012':'2012-13', '22011':'2011-12', '22010':'2010-11', '22009':'2009-10', \
               '22008':'2008-09', '22007':'2007-08', '22006':'2006-07', '22005':'2005-06', '22004':'2004-05', '22003':'2003-04', \
               '22002':'2002-03', '22001':'2001-02', '22000':'2000-01', '21999':'1999-00', '21998':'1998-99', '21997':'1997-98', \
               '21996':'1996-97', '21995':'1995-96', '21994':'1994-94', '21993':'1993-94', '21992':'1992-93', '21991':'1991-92', \
               '21990':'1990-91', '21989':'1989-90', '21988':'1988-89', '21987':'1987-88', '21986':'1986-87', '21985':'1985-86', \
               '21984':'1984-85', '21983':'1983-84', \
               '42019':'2019-20_post', '42018':'2018-19_post', '42017':'2017-18_post', '42016':'2016-17_post', '42015':'2015-16_post', \
               '42014':'2014-15_post', '42013':'2013-14_post', '42012':'2012-13_post', '42011':'2011-12_post', '42010':'2010-11_post', \
               '42009':'2009-10_post', '42008':'2008-09_post', '42007':'2007-08_post', '42006':'2006-07_post', '42005':'2005-06_post', \
               '42004':'2004-05_post', '42003':'2003-04_post', '42002':'2002-03_post', '42001':'2001-02_post', '42000':'2000-01_post', \
               '41999':'1999-00_post', '41998':'1998-99_post', '41997':'1997-98_post', '41996':'1996-95_post', '41995':'1995-96_post', \
               '41994':'1994-95_post', '41993':'1993-94_post', '41992':'1992-93_post', '41991':'1991-92_post', '41990':'1990-91_post', \
               '41989':'1989-90_post', '41988':'1988-89_post', '41987':'1987-88_post', '41986':'1986-87_post', '41985':'1985-86_post', \
               '41984':'1984-85_post', '41983':'1983-84_post'}

In [13]:
# map the dictionary values to the key from SEASON_ID and store as new column SEASON
games['SEASON'] = games['SEASON_ID'].map(season_dict)

In [14]:
# look at sample to check
games[(games['TEAM_ABBREVIATION']=='ATL') & (games['GAME_DATE'] > '2020-01-01')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,SEASON
0,22020,1610612737,ATL,Atlanta Hawks,0022000805,2021-04-11,ATL @ CHA,W,240,105,...,7.0,34.0,41.0,27,7.0,1,11,11,4.0,2020-21
1,22020,1610612737,ATL,Atlanta Hawks,0022000791,2021-04-09,ATL vs. CHI,W,239,120,...,6.0,35.0,41.0,25,7.0,4,9,14,12.0,2020-21
2,22020,1610612737,ATL,Atlanta Hawks,0022000780,2021-04-07,ATL vs. MEM,L,240,113,...,11.0,31.0,42.0,26,5.0,3,7,19,-18.0,2020-21
3,22020,1610612737,ATL,Atlanta Hawks,0022000770,2021-04-06,ATL vs. NOP,W,241,123,...,10.0,32.0,42.0,24,7.0,6,11,23,16.0,2020-21
4,22020,1610612737,ATL,Atlanta Hawks,0022000759,2021-04-04,ATL vs. GSW,W,240,117,...,10.0,39.0,49.0,19,10.0,3,15,19,6.0,2020-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,22019,1610612737,ATL,Atlanta Hawks,0021900567,2020-01-10,ATL @ WAS,L,239,101,...,9.0,47.0,56.0,19,5.0,9,18,26,-10.0,2019-20
87,22019,1610612737,ATL,Atlanta Hawks,0021900558,2020-01-08,ATL vs. HOU,L,241,115,...,16.0,38.0,54.0,20,6.0,8,11,29,-7.0,2019-20
88,22019,1610612737,ATL,Atlanta Hawks,0021900543,2020-01-06,ATL vs. DEN,L,239,115,...,4.0,30.0,34.0,24,3.0,5,10,22,-8.0,2019-20
89,22019,1610612737,ATL,Atlanta Hawks,0021900526,2020-01-04,ATL vs. IND,W,240,116,...,4.0,36.0,40.0,22,8.0,4,13,28,5.0,2019-20
90,22019,1610612737,ATL,Atlanta Hawks,0021900517,2020-01-03,ATL @ BOS,L,239,106,...,6.0,36.0,42.0,26,6.0,5,14,24,-3.0,2019-20

Next, pull existing games database from SQL, compare with the latest data from nba.com, remove all duplicates to keep only the newest game info as a df.

In [15]:
# pull just games from this season (so not going through all of history again)
#this_season_games = games['GAME_ID'][games['SEASON'] == '2020-21'].unique()

In [16]:
def clean_df_db_dups(df, tablename, engine, dup_cols=[],
                         filter_continuous_col=None, filter_categorical_col=None):
    """
    Remove rows from a dataframe that already exist in a database
    Required:
        df : dataframe to remove duplicate rows from
        engine: SQLAlchemy engine object
        tablename: tablename to check duplicates in
        dup_cols: list or tuple of column names to check for duplicate row values
    Optional:
        filter_continuous_col: the name of the continuous data column for BETWEEEN min/max filter
                               can be either a datetime, int, or float data type
                               useful for restricting the database table size to check
        filter_categorical_col : the name of the categorical data column for Where = value check
                                 Creates an "IN ()" check on the unique values in this column
    Returns
        Unique list of values from dataframe compared to database table
    """
    args = 'SELECT %s FROM %s' %(', '.join(['"{0}"'.format(col) for col in dup_cols]), tablename)
    args_contin_filter, args_cat_filter = None, None
    if filter_continuous_col is not None:
        if df[filter_continuous_col].dtype == 'datetime64[ns]':
            args_contin_filter = """ "%s" BETWEEN Convert(datetime, '%s')
                                          AND Convert(datetime, '%s')""" %(filter_continuous_col,
                              df[filter_continuous_col].min(), df[filter_continuous_col].max())


    if filter_categorical_col is not None:
        args_cat_filter = ' "%s" in(%s)' %(filter_categorical_col,
                          ', '.join(["'{0}'".format(value) for value in df[filter_categorical_col].unique()]))

    if args_contin_filter and args_cat_filter:
        args += ' Where ' + args_contin_filter + ' AND' + args_cat_filter
    elif args_contin_filter:
        args += ' Where ' + args_contin_filter
    elif args_cat_filter:
        args += ' Where ' + args_cat_filter

    df.drop_duplicates(dup_cols, keep='last', inplace=True)
    df = pd.merge(df, pd.read_sql(args, engine), how='left', on=dup_cols, indicator=True)
    df = df[df['_merge'] == 'left_only']
    df.drop(['_merge'], axis=1, inplace=True)
    return df

In [17]:
# run the function to return only new data as a df
new_games = clean_df_db_dups(df = games, tablename = 'games_teams.games', \
                             engine = engine, dup_cols = ['TEAM_ID','GAME_ID'])

In [18]:
new_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,SEASON
0,22020,1610612737,ATL,Atlanta Hawks,0022000805,2021-04-11,ATL @ CHA,W,240,105,...,7.0,34.0,41.0,27,7.0,1,11,11,4.0,2020-21
1,22020,1610612737,ATL,Atlanta Hawks,0022000791,2021-04-09,ATL vs. CHI,W,239,120,...,6.0,35.0,41.0,25,7.0,4,9,14,12.0,2020-21
2,22020,1610612737,ATL,Atlanta Hawks,0022000780,2021-04-07,ATL vs. MEM,L,240,113,...,11.0,31.0,42.0,26,5.0,3,7,19,-18.0,2020-21
3,22020,1610612737,ATL,Atlanta Hawks,0022000770,2021-04-06,ATL vs. NOP,W,241,123,...,10.0,32.0,42.0,24,7.0,6,11,23,16.0,2020-21
4,22020,1610612737,ATL,Atlanta Hawks,0022000759,2021-04-04,ATL vs. GSW,W,240,117,...,10.0,39.0,49.0,19,10.0,3,15,19,6.0,2020-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93599,22020,1610612766,CHA,Charlotte Hornets,0022000630,2021-03-18,CHA @ LAL,L,240,105,...,8.0,36.0,44.0,26,7.0,8,19,19,-11.0,2020-21
93600,22020,1610612766,CHA,Charlotte Hornets,0022000624,2021-03-17,CHA @ DEN,L,238,104,...,7.0,26.0,33.0,25,11.0,1,17,16,-25.0,2020-21
93601,22020,1610612766,CHA,Charlotte Hornets,0022000602,2021-03-15,CHA vs. SAC,W,240,122,...,10.0,36.0,46.0,30,7.0,3,8,15,6.0,2020-21
93602,22020,1610612766,CHA,Charlotte Hornets,0022000588,2021-03-13,CHA vs. TOR,W,240,114,...,8.0,43.0,51.0,30,10.0,6,27,22,10.0,2020-21
93603,22020,1610612766,CHA,Charlotte Hornets,0022000568,2021-03-11,CHA vs. DET,W,238,105,...,12.0,33.0,45.0,26,9.0,3,9,14,3.0,2020-21

Verify that the function keeps the double-sided nature of each game (logs same game to both teams' records).

In [20]:
new_games[new_games['GAME_ID'] =='0022000759']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,SEASON
4,22020,1610612737,ATL,Atlanta Hawks,0022000759,2021-04-04,ATL vs. GSW,W,240,117,...,10.0,39.0,49.0,19,10.0,3,15,19,6.0,2020-21
22308,22020,1610612744,GSW,Golden State Warriors,0022000759,2021-04-04,GSW @ ATL,L,241,111,...,9.0,36.0,45.0,25,12.0,6,16,26,-6.0,2020-21

Print the new data to the existing db (update db).

In [21]:
new_games.to_sql(name = 'games', schema = 'games_teams', con=engine, if_exists='append')

Double-check that db was updated.

In [22]:
games = pd.read_sql_table(table_name = 'games', schema='games_teams', con=engine)
games

,index,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,SEASON
0,0,22020,1610612737,ATL,Atlanta Hawks,0022000219,2021-01-20,ATL vs. DET,W,264,...,23.0,40.0,63.0,21,6.0,10,13,15,8.0,2020-21
1,1,22020,1610612737,ATL,Atlanta Hawks,0022000205,2021-01-18,ATL vs. MIN,W,241,...,7.0,41.0,48.0,32,15.0,8,24,17,11.0,2020-21
2,2,22020,1610612737,ATL,Atlanta Hawks,0022000195,2021-01-16,ATL @ POR,L,241,...,7.0,41.0,48.0,24,4.0,6,13,22,-6.0,2020-21
3,3,22020,1610612737,ATL,Atlanta Hawks,0022000186,2021-01-15,ATL @ UTA,L,240,...,8.0,33.0,41.0,21,6.0,1,15,16,-24.0,2020-21
4,4,22020,1610612737,ATL,Atlanta Hawks,0022000153,2021-01-11,ATL vs. PHI,W,240,...,14.0,44.0,58.0,20,7.0,3,8,13,18.0,2020-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96256,93599,22020,1610612766,CHA,Charlotte Hornets,0022000630,2021-03-18,CHA @ LAL,L,240,...,8.0,36.0,44.0,26,7.0,8,19,19,-11.0,2020-21
96257,93600,22020,1610612766,CHA,Charlotte Hornets,0022000624,2021-03-17,CHA @ DEN,L,238,...,7.0,26.0,33.0,25,11.0,1,17,16,-25.0,2020-21
96258,93601,22020,1610612766,CHA,Charlotte Hornets,0022000602,2021-03-15,CHA vs. SAC,W,240,...,10.0,36.0,46.0,30,7.0,3,8,15,6.0,2020-21
96259,93602,22020,1610612766,CHA,Charlotte Hornets,0022000588,2021-03-13,CHA vs. TOR,W,240,...,8.0,43.0,51.0,30,10.0,6,27,22,10.0,2020-21
96260,93603,22020,1610612766,CHA,Charlotte Hornets,0022000568,2021-03-11,CHA vs. DET,W,238,...,12.0,33.0,45.0,26,9.0,3,9,14,3.0,2020-21

## PBP Data

Establish header format to match nba.com (updated often, if fails check web for ideas).

In [23]:
header_data  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

To pull data from web, (this is calling individual game websites, not using api) must add leading zeros to game id.

In [24]:
games = pd.read_sql_table(table_name = 'games', schema='games_teams', con=engine)
games['GAME_ID'] = games['GAME_ID'].apply(lambda x: '{0:0>10}'.format(x)) # add two leading zeros to game numbers
games['GAME_ID']

0        0022000219
1        0022000205
2        0022000195
3        0022000186
4        0022000153
            ...
96256    0022000630
96257    0022000624
96258    0022000602
96259    0022000588
96260    0022000568
Name: GAME_ID, Length: 96261, dtype: object

Function to pull the game ids from the games dataframe, create urls for each game id, then use these urls to pull game data and save to csv in local directory, named for the season.

In [25]:
def getSeasonGameIds(season):
    
    # gather game_id values for the full season
    ids = games['GAME_ID'][games['SEASON'] == season]
    ids = pd.DataFrame(ids, columns = ['GAME_ID'])
    
    # create url format for the season
    start = 'https://stats.nba.com/stats/playbyplayv2?EndPeriod=10&EndRange=55800&GameID='
    end = '&RangeType=2&Season=' + season + '&SeasonType=Regular+Season&StartPeriod=1&StartRange=0'
    
    ids['url'] = start + ids['GAME_ID'].astype(str) + end

    # make list of api urls to iterate over
    url_list = []
    for index, row in ids.iterrows():
        row = row['url']
        url_list.append(row)
    
    # pull play-by-play for each game and write to csv file in the current local directory
    import time
    
    for i in url_list:
        try:
            frame = pd.DataFrame()
            r = requests.get(i, headers=header_data, timeout=5)         # Call the GET endpoint
            resp = r.json()                                             # Convert the response to a json object
            results = resp['resultSets'][0]                             # take the first item in the resultsSet (This can be determined by inspection of the json response)
            headers = results['headers']                                # take the headers of the response (our column names)
            rows = results['rowSet']                                    # take the rows of our response
            frame = pd.DataFrame(rows)                                  # convert the rows to a dataframe
            frame.columns = headers                                     # set our column names using the  extracted headers
            frame.to_csv('stats_nba_pbp_{0}.csv'.format(season), index=False, mode='a') # append to csv
            time.sleep(.5)
        except:
            pass

In [ ]:
# input for season must be a string
# also must match season format in games db, which is '2019-20' and '2019-20_post'
getSeasonGameIds('2020-21')

In [ ]:
# could try to do several seasons at once, but takes a LONG time
# iterate over a list to do several seasons at once from web to csv
for i in season_list:
    getSeasonGameIds(i)

Write csv files of pbp data to sql database.  

Check options of whether to replace, append, or fail if pbp db already exists for season.

In [34]:
def writeSeasontoSQL(season):

    df = pd.DataFrame()
    
    # original location
    #df = pd.read_csv('/Volumes/Father_Time/Data Science Projects/NBA/Data/PBP/stats_nba_pbp_{0}.csv'.format(season))

    # current location of new csv files
    df = pd.read_csv('Data/PBP/stats_nba_pbp_{0}.csv'.format(season))

    #df.to_sql(name = season, schema = 'pbp', con=engine, if_exists='fail')
    df.to_sql(name = season, schema = 'pbp', con=engine, if_exists='replace')
    #df.to_sql(name = season, schema = 'pbp', con=engine, if_exists='append')

In [ ]:
writeSeasontoSQL('2020-21')

In [ ]:
# or 
# iterate over a list to do several seasons at once from csv
for i in seasons_list:
    writeSeasontoSQL(i)

In [3]:
import pandas as pd
import os
os.getcwd()
# change working directory to the following path if running Docker
#os.chdir('/home/jovyan/Data Science Projects/NBA')

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2

engine = create_engine('postgresql+psycopg2://postgres:DataScience@192.168.86.27:54320/nba')

season = '2020-21'
df = pd.read_csv('stats_nba_pbp_{0}.csv'.format(season))
df.head(10)

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,...,PLAYER2_TEAM_NICKNAME,PLAYER2_TEAM_ABBREVIATION,PERSON3TYPE,PLAYER3_ID,PLAYER3_NAME,PLAYER3_TEAM_ID,PLAYER3_TEAM_CITY,PLAYER3_TEAM_NICKNAME,PLAYER3_TEAM_ABBREVIATION,VIDEO_AVAILABLE_FLAG
0,0022000219,2,12,0,1,7:40 PM,12:00,NaN,Start of 1st Period (7:40 PM EST),NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,0
1,0022000219,4,10,0,1,7:40 PM,12:00,Jump Ball Capela vs. Plumlee: Tip to Young,NaN,NaN,...,Pistons,DET,4,1629027,Trae Young,1610612737.0,Atlanta,Hawks,ATL,1
2,0022000219,7,2,6,1,7:41 PM,11:37,MISS Collins 6' Driving Layup,NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
3,0022000219,8,4,0,1,7:41 PM,11:34,Capela REBOUND (Off:1 Def:0),NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
4,0022000219,9,1,6,1,7:41 PM,11:32,Capela 1' Driving Layup (2 PTS),NaN,NaN,...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
5,0022000219,10,1,98,1,7:41 PM,11:11,NaN,NaN,Plumlee 1' Cutting Layup Shot (2 PTS) (Ellingt...,...,Pistons,DET,0,0,NaN,NaN,NaN,NaN,NaN,1
6,0022000219,12,1,6,1,7:41 PM,11:04,Collins 1' Driving Layup (2 PTS) (Young 1 AST),NaN,NaN,...,Hawks,ATL,0,0,NaN,NaN,NaN,NaN,NaN,1
7,0022000219,14,1,101,1,7:42 PM,10:50,NaN,NaN,Wright 3' Driving Floating Jump Shot (2 PTS),...,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
8,0022000219,15,1,6,1,7:42 PM,10:33,Collins 3' Driving Layup (4 PTS) (Huerter 1 AST),NaN,NaN,...,Hawks,ATL,0,0,NaN,NaN,NaN,NaN,NaN,1
9,0022000219,17,1,101,1,7:42 PM,10:17,NaN,NaN,Grant 7' Driving Floating Jump Shot (2 PTS) (G...,...,Pistons,DET,0,0,NaN,NaN,NaN,NaN,NaN,1

In [4]:
df.to_sql(name = season, schema = 'pbp', con=engine, if_exists='replace')

Get list of seasons (from list of csv files). An option which could be used.

In [18]:
import os, sys
import re

path = 'Data/PBP'
pbp_files = [filename for filename in os.listdir(path) if re.findall(r"pbp", filename)]

# remove the excess words
pbp_files = [item.replace("stats_nba_pbp_", "") for item in pbp_files]
pbp_files = [item.replace("csv", "") for item in pbp_files]
pbp_files = [re.sub(r'[\.]', '', file) for file in pbp_files]

pbp_files

['1996-97',
 '1997-98',
 '1997-98_post',
 '1998-99',
 '1998-99_post',
 '1999-00',
 '1999-00_post',
 '2000-01',
 '2000-01_post',
 '2001-02',
 '2001-02_post',
 '2002-03',
 '2002-03_post',
 '2003-04',
 '2003-04_post',
 '2004-05',
 '2004-05_post',
 '2005-06',
 '2005-06_post',
 '2006-07',
 '2006-07_post',
 '2007-08',
 '2007-08_post',
 '2008-09',
 '2008-09_post',
 '2009-10',
 '2009-10_post',
 '2010-11',
 '2010-11_post',
 '2011-12',
 '2011-12_post',
 '2012-13',
 '2012-13_post',
 '2013-14',
 '2013-14_post',
 '2014-15',
 '2014-15_post',
 '2015-16',
 '2015_16_post',
 '2016-17',
 '2016-17_post',
 '2017-18',
 '2017-18_post',
 '2018-19',
 '2018-19_post',
 '2019-20',
 '2019-20_post',
 '2020-21']

In [ ]:
# write each of these csv files to the db
for season in pbp_files:
    # read in from csv
    df = pd.read_csv('/Volumes/Father_Time/Data Science Projects/NBA/Data/PBP/stats_nba_pbp_{0}.csv'.format(season))

    # fill name AND fill schema
    df.to_sql(name = season, schema = 'pbp', con=engine, if_exists='append')

## Shot Data

Easiest to use team ids to pull data for season, as opposed to player ids. MUCH FASTER.

In [19]:
# likely the same as that used above, added again in case jumping straight to this section.
header_data  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

Function to extract the specific json format of the shot data from nba.com api (hidden).

In [21]:
# Extract json
def extract_data(url):
    r = requests.get(url, headers=header_data)                  # Call the GET endpoint
    resp = r.json()                                             # Convert the response to a json object
    results = resp['resultSets'][0]                             # take the first item in the resultsSet (This can be determined by inspection of the json response)
    headers = results['headers']                                # take the headers of the response (our column names)
    rows = results['rowSet']                                    # take the rows of our response
    frame = pd.DataFrame(rows)                                  # convert the rows to a dataframe
    frame.columns = headers                                     # set our column names using the  extracted headers
    return frame

In [83]:
#front = 'https://stats.nba.com/stats/shotchartdetail?AheadBehind=&CFID=33&CFPARAMS='
#season
#mid = '&ClutchTime=&Conference=&ContextFilter=&ContextMeasure=FGA&DateFrom=&DateTo=&Division=&EndPeriod=10&EndRange=28800&GROUP_ID=&GameEventID=&GameID=&GameSegment=&GroupID=&GroupMode=&GroupQuantity=5&LastNGames=0&LeagueID=00&Location=&Month=0&OnOff=&OpponentTeamID=0&Outcome=&PORound=0&Period=0&PlayerID='
#id
#mid2 = '&PlayerID1=&PlayerID2=&PlayerID3=&PlayerID4=&PlayerID5=&PlayerPosition=&PointDiff=&Position=&RangeType=0&RookieYear=&Season='
#season
#back = '&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StartPeriod=1&StartRange=0&StarterBench=&TeamID=0&VsConference=&VsDivision=&VsPlayerID1=&VsPlayerID2=&VsPlayerID3=&VsPlayerID4=&VsPlayerID5=&VsTeamID='

In [70]:
# rephrase API request to pull all shots by team (less requests, faster data collection)
front = "https://stats.nba.com/stats/shotchartdetail?AheadBehind=&CFID=&CFPARAMS=Alley+Oop+Dunk+Shot&ClutchTime=&Conference=&ContextFilter=&ContextMeasure=FGA&DateFrom=&DateTo=&Division=&EndPeriod=10&EndRange=28800&GROUP_ID=&GameEventID=&GameID=&GameSegment=&GroupID=&GroupMode=&GroupQuantity=5&LastNGames=0&LeagueID=00&Location=&Month=0&OnOff=&OpponentTeamID=0&Outcome=&PORound=0&Period=0&PlayerID=0&PlayerID1=&PlayerID2=&PlayerID3=&PlayerID4=&PlayerID5=&PlayerPosition=&PointDiff=&Position=&RangeType=0&RookieYear=&Season="
#season
mid = "&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StartPeriod=1&StartRange=0&StarterBench=&TeamID="
# team id 1610612760
back = "&VsConference=&VsDivision=&VsPlayerID1=&VsPlayerID2=&VsPlayerID3=&VsPlayerID4=&VsPlayerID5=&VsTeamID="

Open SQL db and pull in unique players from pbp from a season. Return the result as a vector with name to match expected df format (PLAYER_ID).

In [71]:
nba_teams = pd.read_sql_table(table_name = 'teams', schema='games_teams', con=engine)
nba_teams

,index,id,full_name,abbreviation,nickname,city,state,year_founded
0,0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [367]:
# 1996-97 is earliest available season for shot data
season = '2020-21'

In [368]:
#table_name = 'pbp.' + f'"{season}"'
#sq = '''SELECT DISTINCT "PLAYER1_ID" FROM {};'''.format(table_name)
#players = pd.read_sql_query(sq,con = engine)
#players = players.rename(columns={'PLAYER1_ID': 'PLAYER_ID'})
#players

In [369]:
nba_teams['url'] = front + season + mid + nba_teams['id'].astype(str) + back
nba_teams

,index,id,full_name,abbreviation,nickname,city,state,year_founded,url
0,0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949,https://stats.nba.com/stats/shotchartdetail?Ah...
1,1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946,https://stats.nba.com/stats/shotchartdetail?Ah...
2,2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970,https://stats.nba.com/stats/shotchartdetail?Ah...
3,3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002,https://stats.nba.com/stats/shotchartdetail?Ah...
4,4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966,https://stats.nba.com/stats/shotchartdetail?Ah...
5,5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980,https://stats.nba.com/stats/shotchartdetail?Ah...
6,6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976,https://stats.nba.com/stats/shotchartdetail?Ah...
7,7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946,https://stats.nba.com/stats/shotchartdetail?Ah...
8,8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967,https://stats.nba.com/stats/shotchartdetail?Ah...
9,9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970,https://stats.nba.com/stats/shotchartdetail?Ah...
10,10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948,https://stats.nba.com/stats/shotchartdetail?Ah...
11,11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988,https://stats.nba.com/stats/shotchartdetail?Ah...
12,12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968,https://stats.nba.com/stats/shotchartdetail?Ah...
13,13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989,https://stats.nba.com/stats/shotchartdetail?Ah...
14,14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976,https://stats.nba.com/stats/shotchartdetail?Ah...
15,15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946,https://stats.nba.com/stats/shotchartdetail?Ah...
16,16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989,https://stats.nba.com/stats/shotchartdetail?Ah...
17,17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976,https://stats.nba.com/stats/shotchartdetail?Ah...
18,18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949,https://stats.nba.com/stats/shotchartdetail?Ah...
19,19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968,https://stats.nba.com/stats/shotchartdetail?Ah...
20,20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970,https://stats.nba.com/stats/shotchartdetail?Ah...
21,21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948,https://stats.nba.com/stats/shotchartdetail?Ah...
22,22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976,https://stats.nba.com/stats/shotchartdetail?Ah...
23,23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967,https://stats.nba.com/stats/shotchartdetail?Ah...
24,24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995,https://stats.nba.com/stats/shotchartdetail?Ah...
25,25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974,https://stats.nba.com/stats/shotchartdetail?Ah...
26,26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995,https://stats.nba.com/stats/shotchartdetail?Ah...
27,27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961,https://stats.nba.com/stats/shotchartdetail?Ah...
28,28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948,https://stats.nba.com/stats/shotchartdetail?Ah...
29,29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988,https://stats.nba.com/stats/shotchartdetail?Ah...

In [370]:
# make list of api urls to iterate over
url_list = []
for index, row in nba_teams.iterrows():
    row = row['url']
    url_list.append(row)

In [371]:
url_list[:3]

['https://stats.nba.com/stats/shotchartdetail?AheadBehind=&CFID=&CFPARAMS=Alley+Oop+Dunk+Shot&ClutchTime=&Conference=&ContextFilter=&ContextMeasure=FGA&DateFrom=&DateTo=&Division=&EndPeriod=10&EndRange=28800&GROUP_ID=&GameEventID=&GameID=&GameSegment=&GroupID=&GroupMode=&GroupQuantity=5&LastNGames=0&LeagueID=00&Location=&Month=0&OnOff=&OpponentTeamID=0&Outcome=&PORound=0&Period=0&PlayerID=0&PlayerID1=&PlayerID2=&PlayerID3=&PlayerID4=&PlayerID5=&PlayerPosition=&PointDiff=&Position=&RangeType=0&RookieYear=&Season=2020-21&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StartPeriod=1&StartRange=0&StarterBench=&TeamID=1610612737&VsConference=&VsDivision=&VsPlayerID1=&VsPlayerID2=&VsPlayerID3=&VsPlayerID4=&VsPlayerID5=&VsTeamID=',
 'https://stats.nba.com/stats/shotchartdetail?AheadBehind=&CFID=&CFPARAMS=Alley+Oop+Dunk+Shot&ClutchTime=&Conference=&ContextFilter=&ContextMeasure=FGA&DateFrom=&DateTo=&Division=&EndPeriod=10&EndRange=28800&GROUP_ID=&GameEventID=&GameID=&GameSegment=&GroupID=&GroupMode=&GroupQuantity=5&LastNGames=0&LeagueID=00&Location=&Month=0&OnOff=&OpponentTeamID=0&Outcome=&PORound=0&Period=0&PlayerID=0&PlayerID1=&PlayerID2=&PlayerID3=&PlayerID4=&PlayerID5=&PlayerPosition=&PointDiff=&Position=&RangeType=0&RookieYear=&Season=2020-21&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StartPeriod=1&StartRange=0&StarterBench=&TeamID=1610612738&VsConference=&VsDivision=&VsPlayerID1=&VsPlayerID2=&VsPlayerID3=&VsPlayerID4=&VsPlayerID5=&VsTeamID=',
 'https://stats.nba.com/stats/shotchartdetail?AheadBehind=&CFID=&CFPARAMS=Alley+Oop+Dunk+Shot&ClutchTime=&Conference=&ContextFilter=&ContextMeasure=FGA&DateFrom=&DateTo=&Division=&EndPeriod=10&EndRange=28800&GROUP_ID=&GameEventID=&GameID=&GameSegment=&GroupID=&GroupMode=&GroupQuantity=5&LastNGames=0&LeagueID=00&Location=&Month=0&OnOff=&OpponentTeamID=0&Outcome=&PORound=0&Period=0&PlayerID=0&PlayerID1=&PlayerID2=&PlayerID3=&PlayerID4=&PlayerID5=&PlayerPosition=&PointDiff=&Position=&RangeType=0&RookieYear=&Season=2020-21&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StartPeriod=1&StartRange=0&StarterBench=&TeamID=1610612739&VsConference=&VsDivision=&VsPlayerID1=&VsPlayerID2=&VsPlayerID3=&VsPlayerID4=&VsPlayerID5=&VsTeamID=']

Go through each url (which is all shots by a player in a particular season). Pull each individual page, then append the result to a growing csv file in local directory.

In [372]:
import time
for i in url_list:
    try:
        frame = pd.DataFrame()
        r = requests.get(i, headers=header_data, timeout=5)         # Call the GET endpoint
        resp = r.json()                                             # Convert the response to a json object
        results = resp['resultSets'][0]                             # take the first item in the resultsSet (This can be determined by inspection of the json response)
        headers = results['headers']                                # take the headers of the response (our column names)
        rows = results['rowSet']                                    # take the rows of our response
        frame = pd.DataFrame(rows)                                  # convert the rows to a dataframe
        frame.columns = headers                                     # set our column names using the  extracted headers
        frame.to_csv('stats_nba_shots_{0}.csv'.format(season), index=False, mode='a') # append to csv
        time.sleep(.5)
    except:
        pass

Read in the data, then write it to SQL db.

In [373]:
shots = pd.read_csv('stats_nba_shots_{0}.csv'.format(season))
shots

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,0022000015,9,1629629,Cam Reddish,1610612737,Atlanta Hawks,1,11,29,...,Center(C),Less Than 8 ft.,4,0,46,1,1,20201223,CHI,ATL
1,Shot Chart Detail,0022000015,11,1628381,John Collins,1610612737,Atlanta Hawks,1,11,4,...,Left Side Center(LC),24+ ft.,25,-88,241,1,0,20201223,CHI,ATL
2,Shot Chart Detail,0022000015,14,1629631,De'Andre Hunter,1610612737,Atlanta Hawks,1,10,40,...,Center(C),Less Than 8 ft.,1,13,-3,1,1,20201223,CHI,ATL
3,Shot Chart Detail,0022000015,19,1629027,Trae Young,1610612737,Atlanta Hawks,1,10,13,...,Center(C),16-24 ft.,20,26,199,1,1,20201223,CHI,ATL
4,Shot Chart Detail,0022000015,25,1629027,Trae Young,1610612737,Atlanta Hawks,1,9,52,...,Right Side Center(RC),24+ ft.,25,81,238,1,1,20201223,CHI,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191160,Shot Chart Detail,0022000568,607,1629023,P.J. Washington,1610612766,Charlotte Hornets,4,2,22,...,Left Side(L),24+ ft.,23,-230,43,1,1,20210311,CHA,DET
191161,Shot Chart Detail,0022000568,610,202330,Gordon Hayward,1610612766,Charlotte Hornets,4,1,51,...,Center(C),Less Than 8 ft.,3,17,25,1,0,20210311,CHA,DET
191162,Shot Chart Detail,0022000568,615,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,1,14,...,Center(C),Less Than 8 ft.,5,-48,16,1,1,20210311,CHA,DET
191163,Shot Chart Detail,0022000568,637,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,0,54,...,Left Side Center(LC),24+ ft.,25,-128,226,1,1,20210311,CHA,DET
191164,Shot Chart Detail,0022000568,640,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,0,9,...,Right Side(R),8-16 ft.,15,84,125,1,1,20210311,CHA,DET

In [374]:
# remove leading zeros from GAME_ID
shots['GAME_ID'] = shots['GAME_ID'].str.lstrip('0')

In [375]:
# remove extra header info
shots = shots.loc[shots['PERIOD'] != 'PERIOD']
shots

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,22000015,9,1629629,Cam Reddish,1610612737,Atlanta Hawks,1,11,29,...,Center(C),Less Than 8 ft.,4,0,46,1,1,20201223,CHI,ATL
1,Shot Chart Detail,22000015,11,1628381,John Collins,1610612737,Atlanta Hawks,1,11,4,...,Left Side Center(LC),24+ ft.,25,-88,241,1,0,20201223,CHI,ATL
2,Shot Chart Detail,22000015,14,1629631,De'Andre Hunter,1610612737,Atlanta Hawks,1,10,40,...,Center(C),Less Than 8 ft.,1,13,-3,1,1,20201223,CHI,ATL
3,Shot Chart Detail,22000015,19,1629027,Trae Young,1610612737,Atlanta Hawks,1,10,13,...,Center(C),16-24 ft.,20,26,199,1,1,20201223,CHI,ATL
4,Shot Chart Detail,22000015,25,1629027,Trae Young,1610612737,Atlanta Hawks,1,9,52,...,Right Side Center(RC),24+ ft.,25,81,238,1,1,20201223,CHI,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191160,Shot Chart Detail,22000568,607,1629023,P.J. Washington,1610612766,Charlotte Hornets,4,2,22,...,Left Side(L),24+ ft.,23,-230,43,1,1,20210311,CHA,DET
191161,Shot Chart Detail,22000568,610,202330,Gordon Hayward,1610612766,Charlotte Hornets,4,1,51,...,Center(C),Less Than 8 ft.,3,17,25,1,0,20210311,CHA,DET
191162,Shot Chart Detail,22000568,615,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,1,14,...,Center(C),Less Than 8 ft.,5,-48,16,1,1,20210311,CHA,DET
191163,Shot Chart Detail,22000568,637,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,0,54,...,Left Side Center(LC),24+ ft.,25,-128,226,1,1,20210311,CHA,DET
191164,Shot Chart Detail,22000568,640,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,0,9,...,Right Side(R),8-16 ft.,15,84,125,1,1,20210311,CHA,DET

In [376]:
shots

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,22000015,9,1629629,Cam Reddish,1610612737,Atlanta Hawks,1,11,29,...,Center(C),Less Than 8 ft.,4,0,46,1,1,20201223,CHI,ATL
1,Shot Chart Detail,22000015,11,1628381,John Collins,1610612737,Atlanta Hawks,1,11,4,...,Left Side Center(LC),24+ ft.,25,-88,241,1,0,20201223,CHI,ATL
2,Shot Chart Detail,22000015,14,1629631,De'Andre Hunter,1610612737,Atlanta Hawks,1,10,40,...,Center(C),Less Than 8 ft.,1,13,-3,1,1,20201223,CHI,ATL
3,Shot Chart Detail,22000015,19,1629027,Trae Young,1610612737,Atlanta Hawks,1,10,13,...,Center(C),16-24 ft.,20,26,199,1,1,20201223,CHI,ATL
4,Shot Chart Detail,22000015,25,1629027,Trae Young,1610612737,Atlanta Hawks,1,9,52,...,Right Side Center(RC),24+ ft.,25,81,238,1,1,20201223,CHI,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191160,Shot Chart Detail,22000568,607,1629023,P.J. Washington,1610612766,Charlotte Hornets,4,2,22,...,Left Side(L),24+ ft.,23,-230,43,1,1,20210311,CHA,DET
191161,Shot Chart Detail,22000568,610,202330,Gordon Hayward,1610612766,Charlotte Hornets,4,1,51,...,Center(C),Less Than 8 ft.,3,17,25,1,0,20210311,CHA,DET
191162,Shot Chart Detail,22000568,615,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,1,14,...,Center(C),Less Than 8 ft.,5,-48,16,1,1,20210311,CHA,DET
191163,Shot Chart Detail,22000568,637,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,0,54,...,Left Side Center(LC),24+ ft.,25,-128,226,1,1,20210311,CHA,DET
191164,Shot Chart Detail,22000568,640,1626179,Terry Rozier,1610612766,Charlotte Hornets,4,0,9,...,Right Side(R),8-16 ft.,15,84,125,1,1,20210311,CHA,DET

Write table to sql db.

In [377]:
table_name = f'stats_nba_shots_all_{season}.csv' # to match names of existing dbs
shots.to_sql(name = table_name, schema = 'shots', con=engine, if_exists='replace')

Alternatively, write the full set of csv files into sql db.

In [ ]:
# first, check what files are in the directory
os.listdir('Data/Shots')

In [ ]:
from os import listdir
import time

for file in listdir('Data/Shots'):
    if 'nba_shots_all' in file:
        # do something
        shots = pd.read_csv('Data/Shots/' + file)
        shots.to_sql(name = file, schema = 'shots', con=engine, if_exists='append')
        time.sleep(1)

In [ ]:
# might want to check for duplicates before appending... (similar to games data above)

## Mapping of SQL Databases

GAMES -> where get all game ids
GAME_ID
GAME_DATE
SEASON
SEASON_ID

PBP -> nba.com pbp data in long-ish format
GAME_ID
EVENTNUM
PERIOD
PCTIMESTRING (time left in period)

SHOTS -> requires player ids from season of interest to construct from api
GAME_ID
GAME_EVENT_ID
PERIOD
MINUTES_REMAINING
SECONDS_REMAINING 
GAMEDATE (20171024)
SEASON (2017-18)
GAME_TYPE (Regular)